.idea
node_modules
react-router-v6-update-base-example-v5
react-router-v6-update-final-example-v6
react-router-v6-update-second-example-v5
redux-basics-nodejs
course-goals
course-goals-debug
next-basic
next-meetups
work-behind-scene
next.config.js
.next